{% extends 'base.html' %}

{% block contents %}

{% include 'form_error.html' %}

<form method="post" id="user-login" action="{% url 'action:login' %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="userName">Username *</label>
        {{ form.username }}
    </div>

    <div class="form-group">
        <label for="userPassword">Password *</label>
        {{ form.password }}
    </div>

    <button type="submit" class="btn btn-success btn-block">Sign in</button>
    <div class="clearfix"></div>
</form>
<div class="clearfix"></div>

{% endblock contents %}